@model Eshop.DomainClass.Product.ProductFeatures
@{
    ViewBag.Title = "ویرایش ویژگی";
}

<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">خانه</a>
        </li>
        <li>مدیریت محصولات</li>
        <li class="active">ویرایش ویژگی</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            ویژگی
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @using (Html.BeginForm("EditFeature", "ManageProducts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.FeatureId)
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget flat radius-bordered">
                            <div class="widget-header bg-yellow">
                                <span class="widget-caption">ویرایش ویژگی </span>
                            </div>
                            <div class="widget-body">
                                <div id="registration-form">
                                    <div class="form-group col-md-8">
                                        <span class="input-icon icon-right">
                                            @Html.EditorFor(model => model.FeatureTitle, new { htmlAttributes = new { @class = "form-control", PlaceHolder = Html.DisplayNameFor(m => m.FeatureTitle) } })
                                            @Html.ValidationMessageFor(model => model.FeatureTitle, "", new { @class = "text-danger" })
                                            <i class="fa fa-group circular"></i>
                                        </span>
                                    </div>
                                    <button type="submit" class="btn btn-warning col-md-4"> ویرایش</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>