
<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
            <a href="/Admin">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">
                    مدیریت کاربران
                </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">
                <li>
                    <a href="/Admin/ManageUsers">
                        <span class="menu-text">لیست کاربران</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ManageUsers/CreateUser">
                        <span class="menu-text">افزودن کاربر جدید</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/Admin/ManageUsers/Roles" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text">
                    نقش ها و دسترسی ها
                </span>
                <i class="menu-expand"></i>
            </a>
        </li>
        
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">
                    مدیریت محصولات
                </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu" style="display: none;">

                <li>
                    <a href="/Admin/ManageProducts">
                        <span class="menu-text">لیست محصولات</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ManageProducts/ShowNewBuys?State=NotSent">
                        <span class="menu-text">تراکنش های مشتریان</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ManageProducts/CreateProduct">
                        <span class="menu-text">افزودن محصول جدید</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ManageProducts/ProductGroups">
                        <span class="menu-text">گروه محصولات</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ManageProducts/ProductFeatures">
                        <span class="menu-text">لیست ویژگی ها</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-align-right"></i>
                <span class="menu-text"> مدیریت مقالات</span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/Admin/ManageArticles" class="menu-dropdown">
                        <i class="menu-text"></i>
                        <span class="menu-text"> لیست مقالات </span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ManageArticles/CreateArticle" class="menu-dropdown">
                        <i class="menu-text"></i>
                        <span class="menu-text"> افزودن مقاله جدید </span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ManageArticles/ArticleCategories" class="menu-dropdown">
                        <i class="menu-text"></i>
                        <span class="menu-text"> گروه های مقالات </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/Admin/ManageSite/ContactUs" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-envelope"></i>
                <span class="menu-text"> تماس با ما</span>

                <i class="menu-expand"></i>
            </a>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon-align-right"></i>
                <span class="menu-text"> مدیریت اسلایدر ها</span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/Admin/ManageSlider" class="menu-dropdown">
                        <i class="menu-text"></i>
                        <span class="menu-text"> لیست اسلایدرها </span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ManageSlider/Create" class="menu-dropdown">
                        <i class="menu-text"></i>
                        <span class="menu-text"> افزودن اسلایدر جدید </span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-gears"></i>
                <span class="menu-text"> تنظیمات</span>

                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/Admin/ManageSite/EditSiteSetting" class="menu-dropdown">
                        <i class="menu-text"></i>
                        <span class="menu-text"> تنظیمات سایت </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</div>

