@model Eshop.DomainClass.Setting.SiteSetting

    <footer id="footer">
        <!--Footer-->
        <div class="footer-Before">
            <div class="container">
                @*<div class="block-news">
                    <div class="row">
                        <h3>با عضویت در خبـرنامه ما از تخفیفات ویـژه ما با خبـر شوید ... </h3>
                        <div class="searchform newslatter">
                            <input type="text" placeholder="شماره تلفن شما ..." />
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-arrow-circle-o-left"></i>
                            </button>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="address">
                            <img class="enamad" src="https://trustseal.enamad.ir/logo.aspx?id=102964&amp;p=mN9kNqPipHTjNmbx" alt="" onclick="window.open(&quot;https://trustseal.enamad.ir/Verify.aspx?id=102964&amp;p=mN9kNqPipHTjNmbx&quot;, &quot;Popup&quot;,&quot;toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30&quot;)" style="cursor:pointer" id="mN9kNqPipHTjNmbx">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="address">
                            <img src="/Content/images/home/map.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="companyinfo">
                            <h2 style="font-family: 'BYekan', sans-serif;"><span>کار</span>زیبا</h2>
                            <p>
                                @Html.Raw(Model.CopyRight)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom" style="direction: ltr !important;">
            <div class="container">
                <div class="row">
                    <p class="pull-left">
                        Copyright © 2018
                        <a href="/"><b>KarZiba</b></a>. All rights reserved.
                    </p>
                </div>
            </div>
        </div>

    </footer>