@model Eshop.ViewModel.User.ResetPasswordViewModel
@{
    ViewBag.Title = "بازیابی کلمه عبور";
}

<div class="container">
    <section id="form">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <h2>
                    با وارد کردن شماره خود یک کد برای شما ارسال خواهد شد
                </h2>
                <p>
                    کد ارسال شده را در صفحه تایید کد وارد کنید
                </p>
            </div>
            <div class="col-sm-6">
                <div class="signup-form">
                    <h2> بازیابی کلمه عبور </h2>
                    @using (Html.BeginRouteForm("ResetPasswordpost", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "تلفن همراه شما" } })
                                <span>@Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })</span>
                            </div>
                            <button type="submit" class="btn btn-default" id="submitBottom">بازیابی</button>
                        </div>
                    }
                </div>
            </div>

        </div>
    </section>
</div>

